token = 'ТОКЕН'
chat_id = ИД_ЧАТА
beacon_chat_id = ИД_ЧАТА_МАЯКОВ
my_id = ИД_МОЕГО_ПЕЙДЖЕРА
abonent_id = ИД_ПЕЙДЖЕРА_КОРРЕСПОНДЕНТА_ПО_УМОЛЧАНИЮ
owm_api_key = 'АПИ_КЕЙ_ОВМ'
callsign = 'ПОЗЫВНОЙ_ШЛЮЗА'
log_level = 'DEBUG'
system = 'LINUX' # ANDROID | LINUX
hfpager_path = 'ГДЕ_ЛЕЖИТ_КВПЕЙДЖЕР'
msg_end = 'ЧТО_ДОБАВЛЯЕМ_В_КОНЦЕ_СООБЩЕНИЯ'
geo_delta = СМЕЩЕНИЕ_КООРДИНАТ
